.content {
  display: flex;
}

.subMenuSolutions {
  display: flex;
  flex-direction: column;
  border-right: #269243 2px solid;
  gap: 0.3rem;
  max-width: 25%;
  width: 100%;
}

.subMenuSolutions span {
  font-size: 0.8rem;
  width: auto !important;
  padding: 0.1rem 0.8rem;
  text-transform: capitalize;
  color: #3f3f3f;
  margin: 0.5rem 0;
  font-weight: 600;
  transition:
    padding-left 0.5s ease,
    border 0.3s ease;
}

@media (max-width: 1024px) {
  .subMenuSolutions {
    border: none;
    max-width: 100%;
  }

  .subMenuSolutions span {
    color: #fff;
    font-size: 0.8rem;
    border-bottom: 1px dotted var(--gen);
    padding: 0.3rem 0;
  }

  .subMenuSolutions span:last-child {
    border-bottom: none;
  }
}

.menuItem:hover {
  border-left: 4px solid var(--gen);
  padding-left: 1rem;
  cursor: pointer;
}
