.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #1e1e1e;
  font-weight: 600;
  font-optical-sizing: auto !important;
  font-size: 0.8rem;
}

.menuItem {
  transition:
    padding-left 0.5s ease,
    border 0.3s ease;
}

.menuItem:hover {
  border-left: 4px solid var(--gen);
  padding-left: 1rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .container span {
    color: #fff;
    font-size: 0.8rem;
    border-bottom: 1px dotted var(--gen);
    padding: 0.3rem 0;
  }

  .container span:last-child {
    border-bottom: none;
  }
}
