input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.iconEyeWrapper {
  width: 2rem;
  height: 1.6rem;
  display: flex;
}

input {
  box-sizing: border-box;
  height: 45px;
  line-height: 30px;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  color: #000;
  transition: 0.5s ease;
  border: 1px solid #ddd;
  font-size: 12px;
  width: 100%;
}

.container {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
}

.label {
  color: var(--Typo-secondary, #5b6c73);
  font-family: "Noto Sans JP";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  /* margin-bottom: 1rem; */
  margin-left: 2px;
  display: flex;
  align-items: center;
}

.focused {
  border: 0.5px solid var(--gen);
  border-radius: 10px;
}

.description {
  color: var(--Typo-secondary, #a0acb0);
  font-family: "Noto Sans JP";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 0.5rem;
  line-height: 1.5rem; /* 125% */
}
.errorText {
  color: var(--Error, #e12e2e);
  font-family: "Noto Sans JP";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 125% */
  margin-top: 0.5rem;
}

::placeholder {
  color: var(--Typo-secondary, #5b6c73);
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
}
.error {
  border: 1px solid var(--Error, #e12e2e);
  color: var(--Error, #e12e2e);
}

.error input {
  color: var(--Error, #e12e2e);
}

.mendatory {
  position: relative;
}

.required {
  color: #f73b3b;
  font-size: 18px;
  margin-left: 0.5rem;
  position: absolute;
  top: 14px;
  left: 30px;
}

@media (max-width: 900px) {
  .inputWrapper {
    height: auto;
  }
}
@media (max-width: 500px) {
  .inputWrapper {
    padding: 0.8rem;
  }
  .label {
    margin-bottom: 0.8rem;
  }
  .description {
    margin-top: 0.4rem;
  }
  .errorText {
    margin-top: 0.4rem;
  }
  .inputWrapper {
    padding: 0.8rem;
    height: auto;
  }
}
