.content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  color: #1e1e1e;
  position: sticky;
  top: 0;
}

.search {
  display: flex;
  margin: 0.5rem 0;
}

.title {
  font-size: 0.7rem;
  padding: 1rem;
}

.input {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 1rem;
}

.button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.info {
  display: flex;
  align-items: center;
}

.desc {
  font-size: 0.6rem;
  display: flex;
  gap: 0.8rem;
}

.desc p:hover {
  color: var(--gen);
  cursor: pointer;
}
