.main {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
  padding: 0 1rem;
  width: 100%;
}

.scrollContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  scroll-behavior: smooth;
}

.phoneScroll {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
