.button {
  cursor: pointer;
  padding: 8px 18px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  line-height: normal;
  color: var(--Typo-light, #fff);
  border: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}

.icon {
  justify-content: center;
  padding: 0.5rem;
}

.small {
  height: 30px;
  padding: 0.5rem 2rem;
  font-size: 14px;
  border-radius: 25px;
  margin-top: 0.5rem;
}

.name {
  display: flex;
  flex-direction: column;
  text-align: left;
  float: right;
  align-items: center;
}

.button[disabled] {
  background: var(--gen, #28793f);
  cursor: not-allowed;
}

.subTitle,
.titleSmall {
  font-size: 0.65rem;
}

.titleMedium {
  font-size: 0.9rem;
}

.titleLarge {
  font-size: 1.1rem;
}

.frontIcon {
  animation: bounceUpDown 1s ease-in-out infinite;
}
@keyframes bounceUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

.primary {
  background: var(--gen, #28793f);
}

.primary:hover {
  background: var(--gen, #28793f);
}

.primary:active {
  background: var(--gen, #28793f);
}

.primary[disabled]:hover {
  background: var(--btn-primary-inactive, #b7d6ff);
}
